@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi/Satoshi-Light.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Integral CF';
    src: url('./fonts/IntegralCF/IntegralCF-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Integral CF';
    src: url('./fonts/IntegralCF/IntegralCF-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Integral CF';
    src: url('./fonts/IntegralCF/IntegralCF-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  @font-face {
    font-family: 'Integral CF';
    src: url('./fonts/IntegralCF/IntegralCF-ExtraBold.otf') format('opentype');
    font-weight: 900; /* Extra Bold */
    font-style: normal;
  }
  